.wrapper {
    top: 0;
    position: fixed;
    height: 100vh;
    background: #fff;
    z-index: 1;
    will-change: transform;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;

    &,
    &.open {
        box-shadow: 0 0.125rem 9.375rem rgb(90 97 105 / 10%), 0 0.25rem 0.5rem rgb(90 97 105 / 12%),
            0 0.9375rem 1.375rem rgb(90 97 105 / 10%), 0 0.4375rem 2.1875rem rgb(165 182 201 / 10%);
    }
}

.nav {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 6rem - 1px);

    .item {
        > a {
            & button {
                font-weight: 400;
                color: #3d5170;
                padding: 1.5rem 2.5rem;
                width: 100%;
                justify-content: flex-start !important;
                font-size: 1.35rem;
            }

            svg {
                color: #cacedb;
                transition: color 0.2s ease;
            }

            &.active,
            &:hover {
                background-color: #fbfbfb;
                box-shadow: inset 0.3rem 0 0 #007bff;
                transition: box-shadow 0.2s ease, color 0.2s ease, background-color 0.2s ease;

                button,
                svg {
                    color: #007bff;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .wrapper {
        transform: translateX(-100%);
        box-shadow: none;
    }
}
