.wrapper {
    height: var(--header-height);
    color: var(--text-color);
    background-color: var(--header-background-color);
    box-shadow: #ccc 0 0.5px 8px;
}

.inner {
    width: var(--default-layout-width);

    .btn {
        font-size: 1.6rem;
        padding: 3px 15px;
        text-transform: none;
    }
}

.alert {
    font-size: 3.2rem;
    line-height: 32px;
    text-shadow: #aaa 3px 3px 5px;
}
