@import '../../GlobalStyles/mixin';

.wrapper {
    @include backgound-gradient;
}

.container {
    min-height: calc(100vh - 56px);
    padding: 10px;
}

.inner {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}

.form {
    padding: 5px 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    > div {
        display: flex;
        gap: 10px;
    }
}

.content {
    margin-top: 10px;
}

.body {
    display: flex;
    gap: 10px;

    >div {
        min-width: 50px;
    }

    .chart_type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        i {
            font-size: 28px;
        }
    }
}