.wrapper {
    padding: 6px 15px;
    border-radius: 6px;
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: max-content;

    &:not(.noHover):hover {
        background-color: var(--btn-hover-color);
    }
}

.center {
    margin: auto;
}

.maxWidth {
    width: 100%;
}

// button types
.outline {
    border: 1px solid;
    border-color: var(--btn-border-color);
}

.rounded {
    border-radius: 9999px;
}

// size
.large {
    font-size: 2rem;
}
